<div class="container__big-card">
  <div class="big-card__picture ">
    <img src="https://media.licdn.com/dms/image/D4D12AQG9oZ6I6Bzm6w/article-cover_image-shrink_720_1280/0/1702417164758?e=2147483647&v=beta&t=w5LSS6qif8EAeSdq7rjm9f1eBC-PnIMsoiQmhbRp2zE"
    alt=""
    srcset=""
    height = 250px
    >
  </div>

    <div class="big-card__title">
      <h1><a href= "#">Novas tendências do IA</a></h1>
    </div>

  <div class="big-card__description">
    <p>
      <a href="#">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
      ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
      in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      </a>
    </p>
  </div>
</div>
